.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  margin: 0;
}

.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: inline-block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #082444;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.compartment {
  height: 300px;
  width: 300px;
}

.main {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}

.button {
  font-weight: bold;
  text-align: left;
  color: #1031e3;
  padding: 5px 5px;
}

h1 {
  margin: 10px;
  font-size: 40px;
  color: rgb(1, 1, 59);
}

.search {
  width: 30%;
}

ul li {
  font-size: 20px;
}

.modalClass {
  text-align: center;
  margin-top: 100px;
}
/*

*/
.label {
  font-weight: bold;
  text-align: center;
  color: #1031e3;
}
.text {
  font-weight: normal;
  text-align: left;
  color: #1031e3;
}

.Standard {
  font-weight: normal;
  color: green;
}
.Hazard {
  font-weight: normal;
  color: red;
}
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: 60vh;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

//
